@page "/availabilities/create"
@using Microsoft.EntityFrameworkCore
@using Plan2Gather.Models
@inject IDbContextFactory<Plan2Gather.Data.Plan2GatherContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create Availability</PageTitle>

<h1>Create</h1>

<h2>Availability</h2>

<hr>

<div class="row">
    <div class="col-md-4">
        <span class="text-danger">WARNING: There is a high likelyhood that you will be unable to enter a valid availability string. Adding availabilities with this form is NOT recommended.</span>
        <EditForm method="post" Model="availability" OnValidSubmit="AddAvailability" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert" />
            <div class="mb-3">
                <label for="event" class="form-label">Event ID:</label>
                <InputNumber id="event" @bind-Value="availability.EventId" class="form-control" />
                <ValidationMessage For="() => availability.EventId" class="text-danger" />
            </div>
            <div class="mb-3">
                <label for="user" class="form-label">User ID:</label>
                <InputNumber id="user" @bind-Value="availability.UserId" class="form-control" />
                <ValidationMessage For="() => availability.UserId" class="text-danger" />
            </div>
            <div class="mb-3">
                <label for="times" class="form-label">Encoded availability string:</label>
                <InputText id="times" @bind-Value="availability.Times" class="form-control" />
                <ValidationMessage For="() => availability.Times" class="text-danger" />
            </div>
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div><a href="/availabilities">Back to List</a></div>

@code {
    [SupplyParameterFromForm] private Availability availability { get; set; } = default!;
    protected override void OnInitialized() { }
    private async Task AddAvailability()
    {
        using var context = DbFactory.CreateDbContext();
        context.Availabilities.Add(availability);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/availabilities");
    }
}