@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Authorization
@using Plan2Gather.Components

<HeadContent><link rel="stylesheet" href="css/MainLayout.css"></HeadContent>

<div class="page">
    <main>
        <Header />
        <article class="content px-4">@Body</article>
        <footer class="site-footer"><span>© 2026 Plan2Gather</span></footer>
    </main>
</div>

<BlazorErrorUi />

<script src="lib/jquery/dist/jquery.min.js"></script>
<script src="lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="js/site.js" asp-append-version="true"></script>
