@page "/availabilities"
@rendermode InteractiveServer
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using Plan2Gather.Components
@using Plan2Gather.Data
@implements IAsyncDisposable
@inject IDbContextFactory<Plan2GatherContext> DbFactory

<PageTitle>Availabilities</PageTitle>

<h1>Availabilities</h1>

<div><input type="search" @bind="filter" @bind:event="oninput"></div>

<p><a href="availabilities/create">Make new</a></p>

<div>
    <QuickGrid Class="table" Items="FilteredAvailabilities" Pagination="pagination">
        <PropertyColumn Property="availability => availability.UserId" Sortable="true" Title="User ID" />
        <PropertyColumn Property="availability => availability.EventId" Sortable="true" Title="Event ID" />
        <PropertyColumn Property="availability => availability.Times" Title="Encoded availability string" />

        <TemplateColumn Context="availability">
            <a href="@($"availabilities/edit?user={availability.UserId}&event={availability.EventId}")">Edit</a>
            <a href="@($"availabilities/details?user={availability.UserId}&event={availability.EventId}")">Details</a>
            <a href="@($"availabilities/delete?user={availability.UserId}&event={availability.EventId}")">Delete</a>
        </TemplateColumn>
    </QuickGrid>
</div>

<Paginator State="pagination" />

@code {
    private Plan2GatherContext context = default!;
    private PaginationState pagination = new PaginationState { ItemsPerPage = 10 };
    private int filter;
    private IQueryable<Plan2Gather.Models.Availability> FilteredAvailabilities => context.Availabilities.Where(a => a.EventId == filter || a.UserId == filter);
    protected override void OnInitialized() => context = DbFactory.CreateDbContext();
    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}